
h2, h3, h4, h5, h6 {
	margin: 0;
}
.container {
	max-width: 800px;
	text-align: center;
	margin: 0 auto;
	padding: 0 20px;
}

#mapid {
	height: 600px;
	width: 800px;
}

#button-list {
	margin-bottom: 20px;
}

#button-list div {
	margin-bottom: 1em;
}

 button.map-filter {
	color: white;
	border: none;
	margin-right: 5px;
	margin-bottom: 5px;
	font-size: 14px;
}

button.map-filter.primary-style {
	background: steelblue;
}

button.map-filter.district {
	background: crimson;
}

.landmark-info-card {
	border: 0.25em solid black;
	text-align: left;
	padding: 0.5em;
	margin: 1em 0;
}

.landmark-info-card .detail {
	margin-bottom: 0.15em;
}